.FiveDays {
    margin: 20px auto;
    text-align: center;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 50%;
}
.flex-container {
    display: flex;
    justify-content: center;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 150px;
    height: 150px;
    margin: 10px;
    line-height: 75px;
    font-size: 15px;
    border-radius: 50%;
  }