.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.Button:hover {
    background-color: lightgreen;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: salmon;
}